.floating-window.shown {
  top: 50% !important;
}

.floating-window {
  transition: top 1s;
  position: absolute;
  height: 720px;
  width: 980px;
  border-radius: 25px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.11);
  overflow: hidden;
  .toolbar {
    position: absolute;
    bottom: 0;
    height: 68px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
    padding-right: 20px;
    .svg {
      display: inline-block;
      padding-right: 10px;
    }
    .back {
      position: absolute;
      top: 8px;
      left: 20px;
      background: none;
      color: #848484;
      box-shadow: none !important;
    }
    button {
      width: 126px;
      border-radius: 15px;
      margin: 0;
      margin-right: 6px;
      margin-top: 2px;
      margin-bottom: 2px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      transition: 0.1s;
      color: white;
      &:hover {
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
      }
      &:active {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
        color: #CCC;
      }
    }
  }
  .full-width {
    padding: 40px 60px !important;
  }
  .content {
    padding: 20px;
    height: 720px;
    overflow: auto;
    p {
      font-size: 18px;
      line-height: 25px;
    }
    .column {
      padding: 20px 40px;
      float: left;
      width: 50%;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
      height: 80px;
    }
    .divider {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 1px;
      background-color: #B7B7B7;
    }
  }
}

.proofField {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  &:hover {
    color: #6611FF;
  }
}