// https://coolors.co/e2dbbe-9aa899-1a1423-66666e-9999a1

@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;800&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Heebo', sans-serif;
  margin: 0;
}
p {
  margin: 0;
}
h1 {
  font-size: 3em;
  line-height: 4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
